<div class="formulaire">

  

    <form>
      <div class="form-connexion">
        <div class="logo">
          <!-- logo -->
          <img src="../../assets/logo.png" alt="logo">
        </div>

        <div class="champ">
          <div class="A">
            <!-- Email -->
            <!-- <mat-label>Email :</mat-label> -->
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Ex. Email">
            </mat-form-field>
          </div>
          <div class="A">
            <!-- mot de passe -->
            <!-- <mat-label>Mot de passe :</mat-label> -->
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Ex. Mot de passe" formcon>
            </mat-form-field>
          </div>

          <div class="B">
            <!-- lien mot de passe oublié --><!-- bouton connexion -->
            <a href="https://www.google.com/" target="_blank">Mot de passe oublié</a><button mat-raised-button
              color="primary"> connexion</button>
          </div>
        </div>
      </div>
    </form>


</div>