
<div class="formulaire">

<div class="bg_form"> 
    <div class="form-connexion">
  <form>

    <div class="logo">
    <!-- logo -->
    <img src="../../assets/logo.jpg" alt="logo">
</div>
<br>
<div class="A">
    <!-- Email -->
    <!-- <mat-label>Email :</mat-label> -->
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Ex. Email" >
    </mat-form-field>
</div>    
  <div class="A">
    <!-- mot de passe -->
    <!-- <mat-label>Mot de passe :</mat-label> -->
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Ex. Mot de passe" >
    </mat-form-field>
</div>

<div class="B">
    <!-- lien mot de passe oublié --><!-- bouton connexion -->
    <a href="https://www.google.com/" target="_blank">Mot de passe oublié</a><button mat-raised-button color="primary"> connexion</button>  
</div>  
  </form>
  </div>
</div>

</div>
